body {
  background-color: #4E4D52;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 3%;
}

h4 {
  color: white;
  margin-top: 8%;
}

li {
  list-style-type: upper-roman;
  margin: 5%;
  border-radius: 10px;
}

span {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
  color: white;
}

.showName {
  font-weight: 900;
}

/* id */
#postCard {
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 3%;
}

#backButton {
  margin-bottom: 5%;
  margin-top: 3%;
}

#cardInfo {
  color: white;
  text-align: center;
}

.form-control {
  background-color: #d9d8dd;
  margin-bottom: 3%;
}

.list-group-item {
  background-color: #676768;
}

#crudButtons {
  margin-left: 3%;
}

#cofnijOneCard {
  margin-top: 3%;
  margin-left: 5%;
}

#editOneCard {
  margin-top: 3%;
  margin-left: 5%;
}

#addWealth, #addKnowledge, #addLanguages, #addAbilities, #addDamage {
  margin-top: 3%;
  margin-left: 5%;
}

#deleteWealth, #deleteKnowledge, #deleteLanguages, #deleteAbilities, #deleteDamage {
  margin-top: 3%;
  margin-left: 5%;
}

#signInBtn {
  color: white;
}

#signInButton {
  color: white;
}

#password {
  margin-top: 3%;
}

#grp {
  margin-left: 5%;
  margin-top: 3%;
}

.form-check-label {
  color: white;
}
/*# sourceMappingURL=main.css.map */